<div class="user-details">
    <h1>
        <center> Skills</center>
    </h1>
    <div class="tech">
        <h3>Programming</h2>
            <img src="/assets/img/python-logo.png" alt="logo" style="width:100px; height:100px; margin: 10px;" />
            <img src="/assets/img/r-logo.png" alt="logo" style="width:100px; height:100px; margin: 10px;" />
            <img src="/assets/img/postgres-logo.png" alt="logo" style="width:150px; height:130px; margin: 10px;" />
    </div>

    <div class="tech">
        <h3>Dashboard</h3>
        <img src="/assets/img/tableau-logo.jpg" alt="logo" style="width:100px; height:100px; margin: 10px;" />
        <img src="/assets/img/qlik-logo.png" alt="logo" style="width:220px; height:80px; margin: 10px;" />
    </div>

    <div class="tech">
        <h3>Web Application</h3>
        <img src="/assets/img/flask-logo.png" alt="logo" style="width:125px; height:80px; margin: 10px;" />
        <img src="/assets/img/streamlit-logo.png" alt="logo" style="width:150px; height:110px; margin: 10px;" />
        <img src="/assets/img/gradio-logo.png" alt="logo" style="width:230px; height:100px; margin: 10px;" />
    </div>

    <div class="tech">
        <h3>Tools</h3>
        <img src="/assets/img/docker-logo.png" alt="logo" style="width:120px; height:100px; margin: 10px;" />
        <img src="/assets/img/k8s-logo.png" alt="logo" style="width:180px; height:100px; margin: 10px;" />
        <img src="/assets/img/mlflow-logo.png" alt="logo" style="width:180px; height:80px; margin: 10px;" />
        <img src="/assets/img/git-logo.png" alt="logo" style="width:150px; height:70px; margin: 10px;" />
    </div>

    <div class="tech">
        <h3>LLM Frameworks</h3>
        <img src="/assets/img/langchain-logo.svg" alt="logo" style="width:220px; height:110px; margin: 10px;" />
        <img src="/assets/img/langgraph-logo.svg" alt="logo" style="width:250px; height:110px; margin: 10px;" />
        <img src="/assets/img/unsloth-logo.png" alt="logo" style="width:250px; height:80px; margin: 10px;" />
        <img src="/assets/img/trl-logo.png" alt="logo" style="width:250px; height:80px; margin: 10px;" />
    </div>

</div>